{% extends 'Core/base.html' %}

{% block title %}Building for Entrepreneurs {% endblock %}

{% block content %}
{% load static %}


{% if items or articles or authors or tools or services %}
      <div class="main_content_logout uk-height-viewport">

        <div class="uk-container m-auto">
          <div class="uk-grid" uk-grid="">
          <div class="uk-width-1-1@m  m-auto uk-width-1-2@s">



          <div class="uk-container">

{% if services %}
                          <div class="uk-width-1-1@m">
              <div class=" rounded-lg">
               <div class="uk-grid  mt-7">
                  
                  <div class="uk-width-expand uk-flex uk-flex-middle">
                    <div>
                    <h4 class="mt-0 mb-0"> Search result in  Services</h4>

                    <small>Find services</small>
                  </div>
                  </div>
                  <div class="uk-width-auto">
                    <div class="is_web text-blue ">
      <i class="mdi  mdi-distribute-horizontal-center  icon-web"></i>  
    </div>
                  </div>

                </div>

    <div class="uk-child-width-1-3@m uk-child-width-1-2@s  uk-grid uk-grid-large infinite-container" uk-grid="">

         {% for note in services %}


                                                          <div class="infinite-item">
                            <a href="{% url 'service_detail' note.id %}" target="blank">
                            <div class="uk-card rounded-lg  bg-pH uk-scrollspy-inview uk-animation-fade" style="">
                                <div class="uk-grid-collapse uk-grid-match uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-panel rounded-lg uk-overflow-hidden">
                                            <canvas width="784" height="688"></canvas>
                                            <img src="{{ note.thumbnail }}" alt="image" data-uk-cover="" class="uk-cover" style="height: 280px; width: 421px;">
                                            <span class="broadcast_content_icon_list ">
                                            <i class="{{ note.icon }} mdi icon-xxmedium"></i>
                                            </span>
                                            <!-- Light -->
                                            <div class="dark:uk-hidden">
                                                <div class="uk-position-cover uk-position-z-index uk-visible@m" style="background-image: linear-gradient(to top, black 8.33%, transparent);"></div>
                                                <div class="uk-position-cover uk-position-z-index uk-hidden@m" style="background-image: linear-gradient(to top, black 8.33%, transparent);"></div>
                                            </div>
                                            <!-- dark -->
                                            <div class="uk-hidden dark:uk-visible">
                                                <div class="uk-position-cover uk-position-z-index uk-visible@m">
                                                    
                                                </div>
                                                <div class="uk-position-cover uk-position-z-index uk-hidden@m">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m mb-4 uk-flex-last uk-first-column">
                                        <div class="uk-panel  uk-card-small uk-card-xlarge@m uk-padding-remove-right@m uk-flex-column uk-flex-between">
                                            <div class="uk-card-body">
                                            <div class="uk-panel">
                                                <h3 class="uk-h3 uk-text-bold uk-h1@m uk-margin-large-top@m">{{ note.title |truncatechars:100 |escape }}</h3>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>

            {% endfor %}

                 
                </div>


            </div>
          </div>

          {% endif %}



               



            </div><!-- col -->

          </div><!-- row -->
 

        </div><!-- container -->
      </div>

      </div>
      <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="/static/js/infinite.min.js"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function () {
                $('.loading').hide();
            }

        });
    </script>
 {% else %}
<div uk-height-viewport="" class="main_content_logout uk-flex uk-flex-middle uk-height-viewport">
  <div class="uk-width-1-1@m  m-auto uk-width-1-2@s">
                           <div class="uk-card">
                          <div class="uk-width-expand uk-card-body">
                            <div class="uk-text-center text-black">
                             <i class=" mdi mdi-pulse icon-xlarge"></i>
                            </div>
                           <h3 class="uk-text-center my-2">No matching result yet</h3>
                           <div class="uk-width-1-2@m  m-auto uk-width-1-2@s uk-text-center ">
                           <p class="uk-text-small">Make search keyword, easier for you to find what you want. search eg:"Side hustel ideas" or eg:"Streame" instead of eg:"Hou to get clients for my business online with out a waste of time and money" make it simple and to the point</p>
                       </div>
                           </div>
                           </div>
                       </div>
                   </div>
{% endif %}


{% endblock %}